{% extends 'adminmain.html' %}
{% block body %}
{% if user.is_authenticated %}
{% else %}
<script>location.href = "/"</script>
{% endif %}
<div class="col-xl-12">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Fyers</h5>
        </div>
        <div class="card-body">
          <form method="POST" action="/createfyersapi">
            {% csrf_token %}
            <div class="col-sm-5">
              <div class="form-group">
                <label class="floating-label">API NAME</label>
                <input type="text" name="name" placeholder="name" class="form-control" required>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <label class="floating-label">ENTER YOUR APP ID</label>
                <input type="text" name="clientid" placeholder="ClientId" class="form-control" required>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <label class="floating-label">ENTER YOUR SECRET KEY</label>
                <input type="text" name="secretkey" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxx" class="form-control"
                  required>
              </div>
            </div>
            <div class="col-sm-5 mt-4 m-l-10">
              <div class="form-group">
                <button type="submit" class="btn btn-primary">CREATE</button>
              </div>
            </div>
          </form>
          <div><b>Redirect URL:</b> https://smartrobo.in/fyerslogin</div>
          <br>
          <a href="https://myapi.fyers.in/dashboard" target="_blank"><button type="" class="btn btn-info">Get
              Credentials</button></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5">
      <div class="card" style="margin-top: 20%;">
        <iframe height="240" src="https://www.youtube.com/embed/4gKwmDlErF0?si=aelFPtjY3AfnKSlA"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
