{% extends 'adminmain.html' %}
{% block body %}
{% if user.is_authenticated %}
{% else %}
<script>location.href = "/"</script>
{% endif %}
<div class="card">
  <div class="card-header">
    <h5>Fyers</h5>
  </div>
  <div class="card-body">
    <form method="POST" action="/modifypaisaapi/{{current_api.apiid}}">
      {% csrf_token %}
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">ENTER YOUR APP NAME</label>
          <input type="text" name="name" placeholder="name" value="{{current_api.apiname}}" class="form-control" required>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">ENTER YOUR APP SOURCE</label>
          <input type="text" name="appsource" placeholder="source" class="form-control" value="{{current_api.appsource}}" required>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">ENTER YOUR USER ID</label>
          <input type="text" name="userid" placeholder="UserId" class="form-control" value="{{current_api.userid}}" required>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">ENTER YOUR PASSWORD</label>
          <input type="text" name="password" placeholder="********" class="form-control" value="{{current_api.password}}" required>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">ENTER YOUR USER KEY</label>
          <input type="text" name="userkey" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxx" class="form-control" value="{{current_api.userkey}}" required>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">ENTER YOUR ENCRYPTION KEY</label>
          <input type="text" name="encryptionkey" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxx" value="{{current_api.encryptionkey}}" class="form-control"
            required>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">ENTER YOUR CLIENT CODE</label>
          <input type="text" name="clientcode" placeholder="12345678" class="form-control" value="{{current_api.clientcode}}" required>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">ENTER YOUR SECRET KEY FOR TOTP</label>
          <input type="text" name="secretkey" placeholder="xxxxxxxxxxxxx" class="form-control" value="{{current_api.secretkey}}" required>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">ENTER YOUR MPIN</label>
          <input type="text" name="mpin" placeholder="000000" class="form-control" value="{{current_api.mpin}}" required>
        </div>
      </div>
      <div class="col-sm-5 mt-4 m-l-10">
        <div class="form-group">
          <button type="submit"
            class="btn btn-primary">Modify</button>
        </div>
      </div>
    </form>
    <br>
    <a href="https://tradestation.5paisa.com/apidoc" target="_blank"><button type=""
        class="btn btn-info">Get Credentials</button></a>
  </div>
</div>
{% endblock body %}