{% extends 'adminmain.html' %}
{% block body %}
{% if user.is_authenticated %}
{% else %}
<script>location.href = "/"</script>
{% endif %}
<div class="card">
  <div class="card-header">
    <h5>Fyers</h5>
  </div>
  <div class="card-body">
    <form method="POST" action="/modifyfyersapi/{{current_api.apiid}}">
      {% csrf_token %}
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">API NAME</label>
          <input type="text" name="name" placeholder="name" class="form-control" value="{{current_api.apiname}}"
            required>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">ENTER YOUR APP ID</label>
          <input type="text" name="clientid" placeholder="ClientId" class="form-control"
            value="{{current_api.clientid}}" required>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="floating-label">ENTER YOUR SECRET KEY</label>
          <input type="text" name="secretkey" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxx"
            value="{{current_api.secretkey}}" class="form-control" required>
        </div>
      </div>
      <div class="col-sm-5 mt-4 m-l-10">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Modify</button>
        </div>
      </div>
    </form>
    <div><b>Redirect URL:</b> https://smartrobo.in/fyerslogin</div>
    <br>
    <a href="https://myapi.fyers.in/dashboard" target="_blank"><button type="" class="btn btn-info">Get
        Credentials</button></a>
  </div>
</div>
{% endblock body %}