{% extends 'adminmain.html' %}
{% block body %}
{% if user.is_authenticated %}
{% else %}
<script>location.href = "/"</script>
{% endif %}
<div class="card">
  <div class="card-header">
    <h5>Angel ONE</h5>
  </div>
  <div class="card-body">
    <form method="POST" action="/modifyangelapi/{{current_api.apiid}}">
      {% csrf_token %}
      <div>
        <div class="col-sm-5">
          <div class="form-group">
            <label class="floating-label">Api Name</label>
            <input type="text" name="name" placeholder="Name" class="form-control" value="{{current_api.apiname}}" required>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label class="floating-label">ENTER YOUR CLIENT ID</label>
            <input type="text" name="clientid" placeholder="ClientId" class="form-control" value="{{current_api.clientid}}" required>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label class="floating-label">ENTER YOUR MPIN</label>
            <input type="text" name="password" placeholder="1234" class="form-control" value="{{current_api.password}}" required>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label class="floating-label">ENTER YOUR APIKEY</label>
            <input type="text" name="apikey" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxx" class="form-control" value="{{current_api.apikey}}" required>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label class="floating-label">ENTER YOUR TOTP</label>
            <input type="text" name="totp" placeholder="123456" class="form-control" value="{{current_api.totp}}" required>
          </div>
        </div>
        <div class="col-sm-5 mt-4 m-l-10">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Modify</button>
          </div>
        </div>
      </div>
    </form>
    <a href="https://smartapi.angelbroking.com/signin" target="_blank"><button type="" class="btn btn-info mt-5">Get
        Credentials</button></a>
  </div>
</div>
{% endblock body %}