<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Smartalgo | Best Algo Trading Platform | Pricing</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/title.jpg">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/title.jpg">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/title.jpg">
	<link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/title.jpg">
	<link rel="manifest" href="/static/assets/img/title.jpg">
	<meta name="msapplication-TileImage" content="/static/assets/img/title.jpg">
	<meta name="theme-color" content="#ffffff">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&amp;display=swap"
		rel="stylesheet">
	<link href="/static/vendors/prism/prism.css" rel="stylesheet">
	<link href="/static/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="/static/assets/css/theme.css" rel="stylesheet" />
	<link href="/static/assets/css/user.css" rel="stylesheet" />
</head>

<body>
	<script>location.href = "#pricing"</script>
	<main class="main" id="top">
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark" data-navbar-on-scroll="data-navbar-on-scroll">
			<div class="container"><a class="navbar-brand" href="/">
					<h1 class="text-twitter">Smartalgo</h1>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation"><i
						class="fa-solid fa-bars text-white fs-3"></i></button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
						<li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" aria-current="page" href="/about">About</a></li>
						<li class="nav-item"><a class="nav-link" aria-current="page" href="/pricing">Pricing</a></li>
						<li class="nav-item"><a class="nav-link" aria-current="page" href="/privacypolicy">Privacy
								Policy</a></li>
						<li class="nav-item"><a class="nav-link" aria-current="page" href="/refundpolicy">Refund
								Policy</a></li>
						<li class="nav-item mt-2 mt-lg-0"><a
								class="nav-link btn btn-light text-black w-md-25 w-50 w-lg-100" aria-current="page"
								href="/login" target="_blank">Log In</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="bg-dark"><img class="img-fluid position-absolute end-0" src="/static/assets/img/hero/hero-bg.png"
				alt="" />
			<section>

				<div class="container">
					<div class="row align-items-center py-lg-8 py-6">
						<div class="col-lg-6 text-center text-lg-start">
							<h1 class="text-white fs-5 fs-xl-6">Automated Trading with custom Algorithms</h1>
							<p class="text-white py-lg-3 py-2">We provide advanced strategy order placement using bots.
								We connect our customers with the best.</p>
							<div class="d-sm-flex align-items-center gap-3">
								<a class="btn btn-success text-black mb-3 w-75" href="/accounts/google/login">
									Get Started
								</a>
								<a href="#Explore" class="btn btn-outline-light mb-3 w-75">Explore</a>
							</div>
						</div>
						<div class="col-lg-6 text-center text-lg-end mt-3 mt-lg-0"><img class="img-fluid"
								src="/static/assets/img/hero/hero-graphics.png" alt="" /></div>
					</div>
					<div class="swiper">
						<div class="swiper-container swiper-shadow swiper-theme"
							data-swiper='{"slidesPerView":2,"breakpoints":{"640":{"slidesPerView":2,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":40},"992":{"slidesPerView":5,"spaceBetween":40},"1024":{"slidesPerView":4,"spaceBetween":50},"1025":{"slidesPerView":6,"spaceBetween":50}},"spaceBetween":10,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"loop":true,"freeMode":true,"autoplay":{"delay":2500,"disableOnInteraction":false}}'>
							<div class="swiper-wrapper">
								<div class="swiper-slide text-center"><img src="/static/assets/img/logos/paisa.png"
										alt="" class="w-75 h-75" /></div>
								<div class="swiper-slide text-center"><img src="/static/assets/img/logos/angel.png"
										alt="" class="w-75 h-75" /></div>
								<div class="swiper-slide text-center"><img src="/static/assets/img/logos/fyers.png"
										alt="" class="w-75 h-75 rounded-1" /></div>
								<div class="swiper-slide text-center"><img src="/static/assets/img/logos/dhan.png"
										alt="" class="w-75 h-75" /></div>
								<div class="swiper-slide text-center"><img src="/static/assets/img/logos/alice.jpg"
										alt="" class="w-75 h-25 rounded-1" /></div>
							</div>
						</div>
					</div>
				</div>

			</section>
		</div>
		<section class="bg-dark pt-6 mt-10" id="pricing">
			<div class="container">
				<div class="col-md-6">
					<h1 class="text-white fs-lg-5 fs-md-3 fs-2">Custom pricing structure for you</h1>
				</div>
				<div class="swiper mt-7">
					<div class="swiper-container swiper-theme"
						data-swiper='{"slidesPerView":1,"breakpoints":{"640":{"slidesPerView":1,"spaceBetween":10},"768":{"slidesPerView":2,"spaceBetween":20},"1025":{"slidesPerView":3,"spaceBetween":40}},"spaceBetween":10,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"navigation":{"nextEl":".swiper-button-next","prevEl":".swiper-button-prev"},"loop":true,"freeMode":true,"loopedSlides":3}'>
						<div class="swiper-wrapper">
							<div class="swiper-slide bg-white p-5 rounded-3 h-auto">
								<div class="d-flex flex-column justify-content-between h-100">
									<h4 class="text-black">“Beginer”</h4>
									<ul>
										<li>Validity : 30</li>
										<li>60% Accuracy</li>
										<li>1 API</li>
										<li>Single Stratergy</li>
										<li>2 Future Trade Daily</li>
										<li>2 Equity Trade Daily</li>
									</ul>
									<h4 class="text-facebook"><strong>₹ <strike>{{basic.price}}</strike></strong></h4>
									<h1 class="text-facebook"><strong>₹ {{basic.after_discount_price}} </strong><label style="color: red; font-size: 16px;">{{basic.discount}}% off</label></h1>
									<a class="btn btn-success text-black mb-3 w-75" href="/login">
										Get Started
									</a>
								</div>
							</div>
							<div class="swiper-slide bg-white p-5 rounded-3 h-auto">
								<div class="d-flex flex-column justify-content-between h-100">
									<h4 class="text-black">“PRO”</h4>
									<ul>
										<li>Validity : 30</li>
										<li>70% Accuracy</li>
										<li>1 API</li>
										<li>Single Stratergy</li>
										<li>4 Trade Daily</li>
										<li>2 Future Trade Daily</li>
										<li>4 Equity Trade Daily</li>
									</ul>
									<h4 class="text-twitter"><strong>₹ <strike>{{pro.price}}</strike></strong></h4>
									<h1 class="text-twitter"><strong>₹ {{pro.after_discount_price}} </strong><label style="color: red; font-size: 16px;">{{pro.discount}}% off</label></h1>
									<a class="btn btn-success text-black mb-3 w-75" href="/login">
										Get Started
									</a>
								</div>
							</div>
							<div class="swiper-slide bg-white p-5 rounded-3 h-auto">
								<div class="d-flex flex-column justify-content-between h-100">
									<h4 class="text-black">“VIP”</h4>
									<ul>
										<li>Validity : 30</li>
										<li>80% Accuracy</li>
										<li>2 API's</li>
										<li>Single Stratergy per day</li>
										<li>8 Trade Daily</li>
										<li>2 Future Trade Daily</li>
										<li>8 Equity Trade Daily</li>
									</ul>
									<h4 class="text-success"><strong>₹ <strike>{{vip.price}}</strike></strong></h4>
									<h1 class="text-success"><strong>₹ {{vip.after_discount_price}} </strong><label style="color: red; font-size: 16px;">{{vip.discount}}% off</label></h1>
									<a class="btn btn-success text-black mb-3 w-75" href="/login">
										Get Started
									</a>
								</div>
							</div>
							<div class="swiper-slide bg-white p-5 rounded-3 h-auto">
								<div class="d-flex flex-column justify-content-between h-100">
									<h4 class="text-black">“Premium”</h4>
									<ul>
										<li>Validity : 30</li>
										<li>60% Accuracy</li>
										<li>10 API's</li>
										<li>Single Stratergy per day</li>
										<li>4 Trade Daily</li>
										<li>2 Future Trade Daily</li>
										<li>4 Equity Trade Daily</li>
									</ul>
									<h4 class="text-warning"><strong>₹ <strike>{{premium.price}}</strike></strong></h4>
									<h1 class="text-warning"><strong>₹ {{premium.after_discount_price}} </strong><label style="color: red; font-size: 16px;">{{premium.discount}}% off</label></h1>
									<a class="btn btn-success text-black mb-3 w-75" href="/login">
										Get Started
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-button-next"><span class="fas fa-arrow-right fs-lg-3 fs-2"></span></div>
					<div class="swiper-button-prev"><span class="fas fa-arrow-left fs-lg-3 fs-2"></span></div>
				</div>
			</div><!-- end of .container-->
		</section><!-- <section> close ============================-->
		<!-- ============================================-->

		<section id="Explore">
			<div class="container">
				<p class="text-center fs-1">Our Services</p>
				<h2 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75">Automated trading with experts.</h2>
				<div class="row gx-xl-7 mt-5">
					<div class="col-md-4 mb-6 mb-md-0 text-center text-md-start"><img class="w-50 w-md-100"
							src="/static/assets/img/services/1.png" alt="" />
						<h4 class="mt-3 my-1">Daily Trade</h4>
						<p class="fs-1 mb-0">Utilize our advanced trading bots to execute strategy orders automatically.
						</p>
					</div>
					<div class="col-md-4 mb-6 mb-md-0 text-center text-md-start"><img class="w-50 w-md-100"
							src="/static/assets/img/services/2.png" alt="" />
						<h4 class="mt-3 my-1">Customer Support</h4>
						<p class="fs-1 mb-0">We connect our customers with the best, and help them keep up-and stay
							open.</p>
					</div>
					<div class="col-md-4 mb-6 mb-md-0 text-center text-md-start"><img class="w-50 w-md-100"
							src="/static/assets/img/services/3.png" alt="" />
						<h4 class="mt-3 my-1">Real-Time Market Data</h4>
						<p class="fs-1 mb-0">Access real-time market data to make informed trading decisions.</p>
					</div>
				</div>
			</div>
		</section>
	</main>

	<!-- ============================================-->
	<!-- <section> begin ============================-->
	<section class="pt-0">

		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-2 col-sm-4">
					<h3 class="fw-bold fs-1 mt-5 mb-4">Contact Us</h3>
					<ul class="list-unstyled">
						<li class="my-3 col-md-4"><a href="tel:+91 8750947860">+918750947860</a></li>
						<li class="my-3"><a href="mailto:smrtalgo@gmail.com">smrtalgo@gmail.com</a></li>
						<h3 class="fw-bold fs-1 mt-5 mb-4">Active Users</h3>
						<h1 class="fw-bold fs-2 mb-4" id="usercount"></h1>
					</ul>
				</div>
				<div class="col-lg-2 col-sm-4">
					<h3 class="fw-bold fs-1 mt-5 mb-4">Company</h3>
					<ul class="list-unstyled">
						<li class="my-3"><a href="/">Home</a></li>
						<li class="my-3"><a href="/about">About Us</a></li>
						<li class="my-3"><a href="/privacypolicy">Privacy Policy</a></li>
						<li class="my-3"><a href="/refundpolicy">Refund Policy</a></li>
						<li class="my-3"><a href="#Explore">Services</a></li>
						<li class="my-3"><a href="/terms">Terms & Conditions</a></li>
						<li class="my-3"><a href="/pricing">pricing</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-sm-4">
					<h3 class="fw-bold fs-1 mt-5 mb-4">Social Media</h3>
					<ul class="list-unstyled">
						<li class="mb-3"><a href="https://www.facebook.com/Smartalgoofficial" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
						<li class="mb-3"><a href="https://instagram.com/hdhindisoft?igshid=MzNlNGNkZWQ4Mg==" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
						<li class="mb-3"><a href="https://twitter.com/ASIF0MALIK?t=Bpfy55UYg1itjNiUrejrHA&amp;" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
						<li class="mb-3"><a href="https://youtube.com/@smart_algo" target="_blank"><i class="fab fa-youtube"></i> Youtube</a></li>
						<li class="mb-3"><a href="https://chat.whatsapp.com/KOa0GPDyO1hHmaj74Kk8Iu" target="_blank"><i class="fab fa-whatsapp"></i> Whatsapp</a></li>
						<li class="mb-3"><a href="https://t.me/smrtalgo" target="_blank"><i class="fab fa-telegram"></i> Telegram</a></li>
					  </ul>
				</div>
			</div>
			<p class="text-gray">&copy; 2023 atulg. Distributed by cypherhood.</p>
		</div>
		<!-- end of .container-->

	</section>
	<!-- <section> close ============================-->

	<!-- ===============================================-->
	<!--    JavaScripts-->
	<!-- ===============================================-->
	<script>
		let x = Math.floor(Math.random() * (1200 - 500)) + 500;
		document.getElementById("usercount").innerHTML = x + "+";
	</script>
	<script src="/static/vendors/popper/popper.min.js"></script>
	<script src="/static/vendors/bootstrap/bootstrap.min.js"></script>
	<script src="/static/vendors/anchorjs/anchor.min.js"></script>
	<script src="/static/vendors/is/is.min.js"></script>
	<script src="/static/vendors/fontawesome/all.min.js"></script>
	<script src="/static/vendors/lodash/lodash.min.js"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
	<script src="/static/vendors/prism/prism.js"></script>
	<script src="/static/vendors/swiper/swiper-bundle.min.js"></script>
	<script src="/static/assets/js/theme.js"></script>
</body>

</html>
