<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Smartalgo | Best Algo Trading Platform | Privacy Policy</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/title.jpg">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/title.jpg">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/title.jpg">
	<link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/title.jpg">
	<link rel="manifest" href="/static/assets/img/title.jpg">
	<meta name="msapplication-TileImage" content="/static/assets/img/title.jpg">
	<meta name="theme-color" content="#ffffff">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&amp;display=swap"
		rel="stylesheet">
	<link href="/static/vendors/prism/prism.css" rel="stylesheet">
	<link href="/static/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="/static/assets/css/theme.css" rel="stylesheet" />
	<link href="/static/assets/css/user.css" rel="stylesheet" />
</head>

<body>
	<script>location.href = "#privacy"</script>
	<main class="main" id="top">
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark" data-navbar-on-scroll="data-navbar-on-scroll">
			<div class="container"><a class="navbar-brand" href="/">
					<h1 class="text-twitter">Smartalgo</h1>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation"><i
						class="fa-solid fa-bars text-white fs-3"></i></button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
						<li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" aria-current="page" href="/about">About</a></li>
						<li class="nav-item"><a class="nav-link" aria-current="page" href="/pricing">Pricing</a></li>
						<li class="nav-item"><a class="nav-link" aria-current="page" href="/privacypolicy">Privacy
								Policy</a></li>
						<li class="nav-item"><a class="nav-link" aria-current="page" href="/refundpolicy">Refund
								Policy</a></li>
						<li class="nav-item mt-2 mt-lg-0"><a
								class="nav-link btn btn-light text-black w-md-25 w-50 w-lg-100" aria-current="page"
								href="/login" target="_blank">Log In</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="bg-dark"><img class="img-fluid position-absolute end-0" src="/static/assets/img/hero/hero-bg.png"
				alt="" />
			<section>

				<div class="container">
					<div class="row align-items-center py-lg-8 py-6">
						<div class="col-lg-6 text-center text-lg-start">
							<h1 class="text-white fs-5 fs-xl-6">Automated Trading with custom Algorithms</h1>
							<p class="text-white py-lg-3 py-2">We provide advanced strategy order placement using bots.
								We connect our customers with the best.</p>
							<div class="d-sm-flex align-items-center gap-3">
								<a class="btn btn-success text-black mb-3 w-75" href="/accounts/google/login">
									Get Started
								</a>
								<a href="#Explore" class="btn btn-outline-light mb-3 w-75">Explore</a>
							</div>
						</div>
						<div class="col-lg-6 text-center text-lg-end mt-3 mt-lg-0"><img class="img-fluid"
								src="/static/assets/img/hero/hero-graphics.png" alt="" /></div>
					</div>
					<div class="swiper">
						<div class="swiper-container swiper-shadow swiper-theme"
							data-swiper='{"slidesPerView":2,"breakpoints":{"640":{"slidesPerView":2,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":40},"992":{"slidesPerView":5,"spaceBetween":40},"1024":{"slidesPerView":4,"spaceBetween":50},"1025":{"slidesPerView":6,"spaceBetween":50}},"spaceBetween":10,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"loop":true,"freeMode":true,"autoplay":{"delay":2500,"disableOnInteraction":false}}'>
							<div class="swiper-wrapper">
								<div class="swiper-slide text-center"><img src="/static/assets/img/logos/paisa.png"
										alt="" class="w-75 h-75" /></div>
								<div class="swiper-slide text-center"><img src="/static/assets/img/logos/angel.png"
										alt="" class="w-75 h-75" /></div>
								<div class="swiper-slide text-center"><img src="/static/assets/img/logos/fyers.png"
										alt="" class="w-75 h-75 rounded-1" /></div>
								<div class="swiper-slide text-center"><img src="/static/assets/img/logos/dhan.png"
										alt="" class="w-75 h-75" /></div>
								<div class="swiper-slide text-center"><img src="/static/assets/img/logos/alice.jpg"
										alt="" class="w-75 h-25 rounded-1" /></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<section id="privacy">
			<div class="container">
				<h2 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75">Privacy Policy</h2>
				<div class="row gx-xl-7 mt-5">
					<h4 class="mt-3 my-1"><strong>
							Website Privacy Policy
						</strong>
					</h4>
					<p>
						At smartrobo.in, one of our principle needs is the protection of our visitors. This Privacy
						Policy report contains
						sorts of data that is gathered and recorded by smartrobo.in and how we use it. If you have extra
						inquiries or
						require more data about our Privacy Policy, don't stop for a second to get in touch with us.

						This Privacy Policy applies just to our online exercises and is legitimate for guests to our
						site with respect to
						the data that they shared as well as gather in smartrobo.in. This plan isn't material to any
						information collected
						removed or by methods for channels other than this site.
					</p>
					<h4 class="mt-3 my-1"><strong>
							Consent
						</strong>
					</h4>
					<p>
						By utilizing our site, you agree to our Privacy Policy and consent to its terms.
					</p>
					<h4 class="mt-3 my-1"><strong>
							Information we collect
						</strong>
					</h4>
					<p>
						The personal data that you are approached to give, and the reasons why you are approached to
						give it, will be
						clarified to you at the point we request that you give your own data.

						In the event that you get in touch with us legitimately, we may get extra data about you, for
						example, your name,
						email address, telephone number, the substance of the message as well as connections you may
						send us, and some other
						data you may decide to give.

						At the point when you register for an Account, we may request your contact data, including
						things, for example,
						name, organization name, address, email address, and phone number.
					</p>
					<h4 class="mt-3 my-1"><strong>
							How we use your information
						</strong>
					</h4>
					<p>
						Give, work, and keep up our site. <br>
						Improve, customize, and grow our site. <br>
						Understand and investigate how you utilize our Website. <br>
						Grow new items, services, highlights, and usefulness. <br>
						Contact with you, either straightforwardly or through one of our accomplices, including for
						client care, to give you
						updates and other data identifying with the site, and for marketing purposes. <br>
						Send you emails. <br>
						Discover and prevent misrepresentation.
					</p>
					<h4 class="mt-3 my-1"><strong>
							Log Files
						</strong>
					</h4>
					<p>
						smartrobo.in follows a standard technique of utilizing log documents. All hosting organizations
						do this and a sort
						of hosting services' examination. The data gathered by log documents include internet protocol
						(IP) addresses,
						program type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and
						potentially the number
						of clicks. The purpose behind the data is for examining patterns, directing the webpage,
						following clients'
						development on the site, and assembling segment data.
					</p>
					<h4 class="mt-3 my-1"><strong>
							Third Party Privacy Policies
						</strong>
					</h4>
					<p>
						smartrobo.in's Privacy Policy doesn't have any significant bearing to different sponsors or
						sites. In this way, we
						are encouraging you to consult the individual Privacy Policies of these outsider advertisement
						servers for
						progressively nitty gritty data. It might involve their practices and guidelines regarding how
						to quit some options.

						You can decide to disable treats through your individual program choices. To know progressively
						point by point data
						about cookie management with explicit internet browsers, it tends to be found at the programs'
						particular sites.
						What Are Cookies?
					</p>
					<h4 class="mt-3 my-1"><strong>
							GDPR Data Protection Rights
						</strong>
					</h4>
					<p>
						We might want to ensure you are completely aware of the entirety of your information security
						rights. Each client is
						qualified for the following: <br><br>
						The right to get to –You reserve the option to demand duplicates of your own information. We may
						charge you a little
						expense for this service. <br>
						The right to amendment – You reserve the option to demand that we right any data you accept is
						mistaken.You
						additionally reserve the right to demand that we complete the data you accept is incomplete.
						<br>
						The right to eradication – You reserve the option to demand that we delete your own information,
						under specific
						conditions. <br>
						The right to confine processing – You reserve the option to demand that we confine the handling
						of your own
						information, under specific conditions. <br>
						The right to protest handling – You reserve the option to question our preparing of your own
						information, under
						specific conditions. <br>
						The right to information versatility – You reserve the option to demand that we move the
						information that we have
						gathered to another association, or directly to you, under specific conditions. <br>
						<br>
						If you make a request, we have one month to react to you. On the off chance that you might want
						to practice any of
						these rights, feel free to get in touch with us.
					</p>
					<h4 class="mt-3 my-1"><strong>
							Children's Information
						</strong>
					</h4>
					<p>
						Another part of our priority is including security for kids while utilizing the web. We urge
						parents and guardians
						to watch, take part in, as well as screen and guide their online movement.

						smartrobo.in doesn't intentionally gather any Personal Identifiable Information from kids
						younger than 13. If you
						believe that your kid gave this sort of data on our site, we urge you to get in touch with us
						quickly and we will do
						our best attempts to promptly expel such data from our records.
					</p>
				</div>
		</section>

		<section id="Explore">
			<div class="container">
				<p class="text-center fs-1">Our Services</p>
				<h2 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75">Automated trading with experts.</h2>
				<div class="row gx-xl-7 mt-5">
					<div class="col-md-4 mb-6 mb-md-0 text-center text-md-start"><img class="w-50 w-md-100"
							src="/static/assets/img/services/1.png" alt="" />
						<h4 class="mt-3 my-1">Daily Trade</h4>
						<p class="fs-1 mb-0">Utilize our advanced trading bots to execute strategy orders automatically.
						</p>
					</div>
					<div class="col-md-4 mb-6 mb-md-0 text-center text-md-start"><img class="w-50 w-md-100"
							src="/static/assets/img/services/2.png" alt="" />
						<h4 class="mt-3 my-1">Customer Support</h4>
						<p class="fs-1 mb-0">We connect our customers with the best, and help them keep up-and stay
							open.</p>
					</div>
					<div class="col-md-4 mb-6 mb-md-0 text-center text-md-start"><img class="w-50 w-md-100"
							src="/static/assets/img/services/3.png" alt="" />
						<h4 class="mt-3 my-1">Real-Time Market Data</h4>
						<p class="fs-1 mb-0">Access real-time market data to make informed trading decisions.</p>
					</div>
				</div>
			</div>
		</section>
	</main>

	<!-- ============================================-->
	<!-- <section> begin ============================-->
	<section class="pt-0">

		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-2 col-sm-4">
					<h3 class="fw-bold fs-1 mt-5 mb-4">Contact Us</h3>
					<ul class="list-unstyled">
						<li class="my-3 col-md-4"><a href="tel:+91 8750947860">+918750947860</a></li>
						<li class="my-3"><a href="mailto:smrtalgo@gmail.com">smrtalgo@gmail.com</a></li>
						<h3 class="fw-bold fs-1 mt-5 mb-4">Active Users</h3>
						<h1 class="fw-bold fs-2 mb-4" id="usercount"></h1>
					</ul>
				</div>
				<div class="col-lg-2 col-sm-4">
					<h3 class="fw-bold fs-1 mt-5 mb-4">Company</h3>
					<ul class="list-unstyled">
						<li class="my-3"><a href="/">Home</a></li>
						<li class="my-3"><a href="/about">About Us</a></li>
						<li class="my-3"><a href="/privacypolicy">Privacy Policy</a></li>
						<li class="my-3"><a href="/refundpolicy">Refund Policy</a></li>
						<li class="my-3"><a href="#Explore">Services</a></li>
						<li class="my-3"><a href="/terms">Terms & Conditions</a></li>
						<li class="my-3"><a href="/pricing">pricing</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-sm-4">
					<h3 class="fw-bold fs-1 mt-5 mb-4">Social Media</h3>
					<ul class="list-unstyled">
						<li class="mb-3"><a href="https://www.facebook.com/Smartalgoofficial" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
						<li class="mb-3"><a href="https://www.instagram.com/smart_algo_official/?igsh=Zmh5YmF2YmRtbDhm" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
						<li class="mb-3"><a href="https://twitter.com/ASIF0MALIK?t=Bpfy55UYg1itjNiUrejrHA&amp;" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
						<li class="mb-3"><a href="https://www.youtube.com/@smart-algo" target="_blank"><i class="fab fa-youtube"></i> Youtube</a></li>
						<li class="mb-3"><a href="https://chat.whatsapp.com/KOa0GPDyO1hHmaj74Kk8Iu" target="_blank"><i class="fab fa-whatsapp"></i> Whatsapp</a></li>
						<li class="mb-3"><a href="https://t.me/smrtalgo" target="_blank"><i class="fab fa-telegram"></i> Telegram</a></li>
					  </ul>
				</div>
			</div>
			<p class="text-gray">&copy; 2023 atulg. Distributed by cypherhood.</p>
		</div>
		<!-- end of .container-->

	</section>
	<!-- <section> close ============================-->

	<!-- ===============================================-->
	<!--    JavaScripts-->
	<!-- ===============================================-->
	<script>
		let x = Math.floor(Math.random() * (1200 - 500)) + 500;
		document.getElementById("usercount").innerHTML = x + "+";
	</script>
	<script src="/static/vendors/popper/popper.min.js"></script>
	<script src="/static/vendors/bootstrap/bootstrap.min.js"></script>
	<script src="/static/vendors/anchorjs/anchor.min.js"></script>
	<script src="/static/vendors/is/is.min.js"></script>
	<script src="/static/vendors/fontawesome/all.min.js"></script>
	<script src="/static/vendors/lodash/lodash.min.js"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
	<script src="/static/vendors/prism/prism.js"></script>
	<script src="/static/vendors/swiper/swiper-bundle.min.js"></script>
	<script src="/static/assets/js/theme.js"></script>
</body>

</html>
