<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smartalgo | Best Algo Trading Platform | About Us</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/title.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/title.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/title.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/title.jpg">
    <link rel="manifest" href="/static/assets/img/title.jpg">
    <meta name="msapplication-TileImage" content="/static/assets/img/title.jpg">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link href="/static/vendors/prism/prism.css" rel="stylesheet">
    <link href="/static/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/assets/css/theme.css" rel="stylesheet" />
    <link href="/static/assets/css/user.css" rel="stylesheet" />
</head>

<body>
    <script>location.href = "#conditions"</script>
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container"><a class="navbar-brand" href="/">
                    <h1 class="text-twitter">Smartalgo</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><i
                        class="fa-solid fa-bars text-white fs-3"></i></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/privacypolicy">Privacy
                                Policy</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/refundpolicy">Refund
                                Policy</a></li>
                        <li class="nav-item mt-2 mt-lg-0"><a
                                class="nav-link btn btn-light text-black w-md-25 w-50 w-lg-100" aria-current="page"
                                href="/login" target="_blank">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bg-dark"><img class="img-fluid position-absolute end-0" src="/static/assets/img/hero/hero-bg.png"
                alt="" />
            <section>

                <div class="container">
                    <div class="row align-items-center py-lg-8 py-6">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="text-white fs-5 fs-xl-6">Automated Trading with custom Algorithms</h1>
                            <p class="text-white py-lg-3 py-2">We provide advanced strategy order placement using bots.
                                We connect our customers with the best.</p>
                            <div class="d-sm-flex align-items-center gap-3">
                                <a class="btn btn-success text-black mb-3 w-75" href="/accounts/google/login">
                                    Get Started
                                </a>
                                <a href="#Explore" class="btn btn-outline-light mb-3 w-75">Explore</a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end mt-3 mt-lg-0"><img class="img-fluid"
                                src="/static/assets/img/hero/hero-graphics.png" alt="" /></div>
                    </div>
                    <div class="swiper">
                        <div class="swiper-container swiper-shadow swiper-theme"
                            data-swiper='{"slidesPerView":2,"breakpoints":{"640":{"slidesPerView":2,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":40},"992":{"slidesPerView":5,"spaceBetween":40},"1024":{"slidesPerView":4,"spaceBetween":50},"1025":{"slidesPerView":6,"spaceBetween":50}},"spaceBetween":10,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"loop":true,"freeMode":true,"autoplay":{"delay":2500,"disableOnInteraction":false}}'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide text-center"><img src="/static/assets/img/logos/paisa.png"
                                        alt="" class="w-75 h-75" /></div>
                                <div class="swiper-slide text-center"><img src="/static/assets/img/logos/angel.png"
                                        alt="" class="w-75 h-75" /></div>
                                <div class="swiper-slide text-center"><img src="/static/assets/img/logos/fyers.png"
                                        alt="" class="w-75 h-75 rounded-1" /></div>
                                <div class="swiper-slide text-center"><img src="/static/assets/img/logos/dhan.png"
                                        alt="" class="w-75 h-75" /></div>
                                <div class="swiper-slide text-center"><img src="/static/assets/img/logos/alice.jpg"
                                        alt="" class="w-75 h-25 rounded-1" /></div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
        <section id="conditions">
            <div class="container">
                <h2 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75">Terms & Conditions</h2>
                <div class="row gx-xl-7 mt-5">
                    <p class="fs-1 mb-0">
                        Welcome to Smart-Algo, an automated trading platform that allows you to utilize custom
                        algorithms for trading purposes. Before using our services, please carefully read and understand
                        the following terms and conditions that govern your use of our platform. By accessing Smart-Algo
                        and using our services, you agree to be bound by these terms. If you do not agree with any part
                        of these terms, please refrain from using our platform.
                    </p>
                </div>
            </div>
            <div class="container">
                <h4 class="mt-3 my-1"><strong>General Usage</strong></h4>
                <p>
                    Our team of experts is comprised of skilled traders, developers, and finance professionals, all
                    dedicated to designing
                    and implementing highly effective algorithms. With a wealth of experience and a passion for
                    innovation, we strive to
                    empower our users with the tools they need to thrive in the ever-changing landscape of trading.
                    Smart-Algo is a platform designed for automated trading using custom algorithms. You acknowledge
                    that all trading activities on the platform are executed based on the algorithms and strategies
                    provided by you.
                </p>
                <p>
                    You are responsible for maintaining the confidentiality and security of your Smart-Algo account
                    credentials. Any activity occurring through your account will be considered your responsibility.
                </p>
                <p>
                    You must be of legal age and have the authority to enter into agreements to use Smart-Algo. If you
                    are accessing our platform on behalf of an organization, you must have the necessary authorization
                    to do so.
                </p>
                <p>
                    You agree not to use Smart-Algo for any illegal or unauthorized purposes and shall comply with all
                    applicable laws and regulations while using our services.
                </p>
                <h4 class="mt-3 my-1"><strong>Algorithmic Trading</strong></h4>
                <p>
                    Smart-Algo allows you to upload, run, and execute custom trading algorithms. You understand and
                    accept that the performance and results of these algorithms are dependent on various market
                    conditions and cannot be guaranteed.
                </p>
                <p>
                    You are solely responsible for the development, testing, and implementation of your custom
                    algorithms. Smart-Algo shall not be liable for any losses or damages resulting from the use of your
                    algorithms.
                </p>
                <p>
                    You acknowledge that historical performance results of algorithms do not guarantee future results.
                    Past performance is not indicative of future performance, and there is inherent risk in trading and
                    investing.
                </p>
                <h4 class="mt-3 my-1"><strong>Financial Risks</strong></h4>
                <p>
                    Trading involves significant financial risk, and you acknowledge and understand that you may lose
                    all or a substantial portion of your investment. Smart-Algo does not provide financial advice and
                    shall not be liable for any financial losses incurred through the use of our platform.
                </p>
                <p>
                    You are responsible for setting appropriate risk parameters for your algorithms. Smart-Algo shall
                    not be liable for any trades executed based on your algorithms, including but not limited to losses,
                    missed opportunities, or inaccurate executions.
                </p>
                <h4 class="mt-3 my-1"><strong>Intellectual Property</strong></h4>
                <p>
                    You retain ownership of the intellectual property rights in your custom algorithms. By using
                    Smart-Algo, you grant us a non-exclusive, worldwide, royalty-free license to use, reproduce, and
                    modify your algorithms for the sole purpose of providing our services to you.
                </p>
                <p>
                    Smart-Algo and its associated logos, trademarks, and content are the exclusive property of
                    Smart-Algo and may not be used without our prior written consent.
                </p>
                <h4 class="mt-3 my-1"><strong>Termination</strong></h4>
                <p>
                    Smart-Algo reserves the right to suspend or terminate your access to the platform at any time and
                    for any reason without prior notice.
                </p>
                <p>
                    You may terminate your Smart-Algo account at any time by following the account closure process
                    provided on the platform.
                </p>
                <h4 class="mt-3 my-1"><strong>Disclaimer of Warranty</strong></h4>
                <p>
                    Smart-Algo provides its services on an "as-is" and "as-available" basis without any warranties,
                    expressed or implied. We do not warrant that the platform will be error-free, secure, or
                    continuously available.
                </p>
            </div>
        </section>

        <section id="Explore">
            <div class="container">
                <p class="text-center fs-1">Our Services</p>
                <h2 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75">Automated trading with experts.</h2>
                <div class="row gx-xl-7 mt-5">
                    <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start"><img class="w-50 w-md-100"
                            src="/static/assets/img/services/1.png" alt="" />
                        <h4 class="mt-3 my-1">Daily Trade</h4>
                        <p class="fs-1 mb-0">Utilize our advanced trading bots to execute strategy orders automatically.
                        </p>
                    </div>
                    <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start"><img class="w-50 w-md-100"
                            src="/static/assets/img/services/2.png" alt="" />
                        <h4 class="mt-3 my-1">Customer Support</h4>
                        <p class="fs-1 mb-0">We connect our customers with the best, and help them keep up-and stay
                            open.</p>
                    </div>
                    <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start"><img class="w-50 w-md-100"
                            src="/static/assets/img/services/3.png" alt="" />
                        <h4 class="mt-3 my-1">Real-Time Market Data</h4>
                        <p class="fs-1 mb-0">Access real-time market data to make informed trading decisions.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-0">

        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-2 col-sm-4">
                    <h3 class="fw-bold fs-1 mt-5 mb-4">Contact Us</h3>
                    <ul class="list-unstyled">
                        <li class="my-3 col-md-4"><a href="tel:+91 8750947860">+918750947860</a></li>
                        <li class="my-3"><a href="mailto:smrtalgo@gmail.com">smrtalgo@gmail.com</a></li>
                        <h3 class="fw-bold fs-1 mt-5 mb-4">Active Users</h3>
                        <h1 class="fw-bold fs-2 mb-4" id="usercount"></h1>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <h3 class="fw-bold fs-1 mt-5 mb-4">Company</h3>
                    <ul class="list-unstyled">
                        <li class="my-3"><a href="/">Home</a></li>
                        <li class="my-3"><a href="/about">About Us</a></li>
                        <li class="my-3"><a href="/privacypolicy">Privacy Policy</a></li>
                        <li class="my-3"><a href="/refundpolicy">Refund Policy</a></li>
                        <li class="my-3"><a href="#Explore">Services</a></li>
                        <li class="my-3"><a href="/terms">Terms & Conditions</a></li>
                        <li class="my-3"><a href="/pricing">pricing</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <h3 class="fw-bold fs-1 mt-5 mb-4">Social Media</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a href="https://www.facebook.com/Smartalgoofficial" target="_blank"><i
                                    class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li class="mb-3"><a href="https://www.instagram.com/smart_algo_official/?igsh=Zmh5YmF2YmRtbDhm"
                                target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li class="mb-3"><a href="https://twitter.com/ASIF0MALIK?t=Bpfy55UYg1itjNiUrejrHA&amp;"
                                target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li class="mb-3"><a href="https://www.youtube.com/@smart-algo"
                                target="_blank"><i class="fab fa-youtube"></i> Youtube</a></li>
                        <li class="mb-3"><a href="https://chat.whatsapp.com/KOa0GPDyO1hHmaj74Kk8Iu" target="_blank"><i
                                    class="fab fa-whatsapp"></i> Whatsapp</a></li>
                    </ul>
                </div>
            </div>
            <p class="text-gray">&copy; 2023 atulg. Distributed by cypherhood.</p>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script>
        let x = Math.floor(Math.random() * (1200 - 500)) + 500;
        document.getElementById("usercount").innerHTML = x + "+";
    </script>
    <script src="/static/vendors/popper/popper.min.js"></script>
    <script src="/static/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/static/vendors/anchorjs/anchor.min.js"></script>
    <script src="/static/vendors/is/is.min.js"></script>
    <script src="/static/vendors/fontawesome/all.min.js"></script>
    <script src="/static/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/static/vendors/prism/prism.js"></script>
    <script src="/static/vendors/swiper/swiper-bundle.min.js"></script>
    <script src="/static/assets/js/theme.js"></script>
</body>

</html>
