<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="https://upibuz.in/payment/create_order.php" method="get">
        <input type="text" name="user_token">
        <input type="text" name="amount">
        <input type="text" name="order_id">
        <input type="text" name="redirect_url">
        <input type="submit">
    </form>
</body>
</html>